*{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
  background-color: #c3def7;
}

.container {
  padding: 25px;
}

#input {
  font-size: 25px;
}

#search-btn {
  background-color: #81fc8f;
  border: 1px solid black;
}

#search-btn:hover {
  background-color: #029e14;
}

.welcome-message {
  margin: 20px auto;
  font-size: 28px;
}

#title {
  margin-bottom: 30px;
  font-size: 50px;
}

#weather-data {
 margin-top: 20px;
 font-size: 25px;
 padding: 15px;
}

#city{
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  
}

#temp {
  border: 1px solid black;
  width: 80px;
  margin: 30px auto;
  border-radius: 15px;
}

#weather {
  font-size: 30px;
  margin-bottom: 0px;
}

#icon {
  font-size: 40px;
  margin-bottom: 30px;
}

#humidity {
  border: 1px solid black;
  padding: 8px;
  border-radius: 15px;
  margin-right: 180px;
}

#wind {
  border: 1px solid black;
  padding: 8px;
  border-radius: 15px;
}