.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.input {
  padding: 15px;
  width: 70%;
  margin: auto;
  border: 1px solid lightgray;
  font-size: 15px;
}

.button {
  font-size: 20px;
  align-items: end;
  margin-left: 1234px;
}
.weather-data {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  font-size: 30px;
  font-weight: 200;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}

.temp {
  font-size: 50px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 80px;
}

.weather {
  font-size: 30px;
  font-weight: 200;
  margin-top: 80px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}

.other {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 200;
}

.humidity {
  margin-right: 300px;
  border: 1px solid black;
  padding: 8px;
  border-radius: 20px;
}

.wind {
  border: 1px solid black;
  padding: 8px;
  border-radius: 20px;
}
